body {
    background-image: url(002.png);
    background-color: rgb(20, 14, 11);
  }
  
  h1 {
    color: rgb(39, 182, 182);
    text-align: center;
  }

  h2 {
    color: rgb(155, 0, 0);
    text-align: center;
  }

  h3 {
    text-align: center ;
    color :rgb(39, 182, 182);
    font-size: 25px;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center ;
    color :rgb(39, 182, 182);
  }

  
